In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data/comparing_data_food_items_last_month.xlsx")

c:\Users\NIKHU1\OneDrive - IKEA\Desktop\IKEA Projects\Disposables\env\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df

,Item,Items per 1000 customers,Receipts,Sales,Quantity
0,00331533 - espresso,4.685700,967.0,1712.15,1464.0
1,"00343381 - Potato mashed, extra",55.268211,15336.0,34224.03,17268.0
2,00343965 - N Hot Beverage speciality,4.141595,1258.0,4505.71,1294.0
3,00344644 - Burger vegetarian,2.886954,731.0,1343.32,902.0
4,00346285 - Cake almond caramel,57.070157,16064.0,55219.17,17831.0
...,...,...,...,...,...
64,90569605 - Salmon fillet cauliflower risotto/b...,6.286007,1854.0,22043.11,1964.0
65,90585097 - hot drink,16.262322,4636.0,15105.28,5081.0
66,90585587 - strawberry fruit soft ice waffle co...,2.710920,765.0,2537.85,847.0
67,NaN,NaN,NaN,NaN,NaN
68,Applied filters:\nType is Compare RELATIVE per...,NaN,NaN,NaN,NaN

In [4]:
df = df.dropna()

In [6]:
df = df.drop_duplicates()

In [7]:
df[['batch_code','item_name']] = df['Item'].str.split(' - ', n = 1, expand=True)

In [8]:
df

,Item,Items per 1000 customers,Receipts,Sales,Quantity,batch_code,item_name
0,00331533 - espresso,4.685700,967.0,1712.15,1464.0,00331533,espresso
1,"00343381 - Potato mashed, extra",55.268211,15336.0,34224.03,17268.0,00343381,"Potato mashed, extra"
2,00343965 - N Hot Beverage speciality,4.141595,1258.0,4505.71,1294.0,00343965,N Hot Beverage speciality
3,00344644 - Burger vegetarian,2.886954,731.0,1343.32,902.0,00344644,Burger vegetarian
4,00346285 - Cake almond caramel,57.070157,16064.0,55219.17,17831.0,00346285,Cake almond caramel
...,...,...,...,...,...,...,...
62,90335857 - Soup,13.775445,4099.0,16963.74,4304.0,90335857,Soup
63,90353846 - Pancake apple,1.309051,382.0,642.26,409.0,90353846,Pancake apple
64,90569605 - Salmon fillet cauliflower risotto/b...,6.286007,1854.0,22043.11,1964.0,90569605,Salmon fillet cauliflower risotto/bean mix
65,90585097 - hot drink,16.262322,4636.0,15105.28,5081.0,90585097,hot drink
66,90585587 - strawberry fruit soft ice waffle co...,2.710920,765.0,2537.85,847.0,90585587,strawberry fruit soft ice waffle cone CA

In [10]:
final_col = ['batch_code', 'item_name']
df = df[final_col]

In [11]:
df

   batch_code                                   item_name
0    00331533                                    espresso
1    00343381                        Potato mashed, extra
2    00343965                   N Hot Beverage speciality
3    00344644                           Burger vegetarian
4    00346285                         Cake almond caramel
..        ...                                         ...
62   90335857                                        Soup
63   90353846                               Pancake apple
64   90569605  Salmon fillet cauliflower risotto/bean mix
65   90585097                                   hot drink
66   90585587    strawberry fruit soft ice waffle cone CA

[67 rows x 2 columns]

In [12]:
df.to_csv("cleaned_comparing_data_food_items_last_month.csv", index=False)